html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  background-color: #5a6265;
}

* {
  box-sizing: border-box;
  font-family: 'Carrois Gothic SC', sans-serif;
  /* max-height: 100%; */
}

nav {
  background-color: #5a6265;
  transition: background-color 1s ease;
  border: none;
  box-shadow: #5a6265;
  
}

.navbar-fixed{
  z-index: 10;
}

nav.scrolled {
  background-color: rgba(90, 98, 101, 0);
  box-shadow: none;
}

.sidenav{
  background-color: #5a6265;
}

.brand-logo{
  transition: color 1s ease;
}
.brand-logo.scrolled{
  color: rgb(255, 255, 255, 0) !important;
}

header#top {
  background-image: url("images/mountainmirrorsmaller.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#headercontent {
  padding: 1%;
  color: white;
  margin-bottom: 15%;
}

h1 {
  margin: none !important;
}

li,
a {
  color: #f9f8f9 !important;
}


.brand-logo {
  margin-left: 3rem;
}

#nav-mobile {
  margin-right: 3rem;
}
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  width: 80%;
  padding: 20px;
  text-align: center;
}

h3 {
  color: white;
}

.section{
  background-color: #979ca2;;
}

#about {
  background-color: #979ca2;
  height: 100%;
  display: flex;
}

.aboutcontent {
  flex-grow: 1;
}

.card {
  background-color: #a89d9a;
}

#worktitle {
  color: #f9f8f9;
}
.card-content {
  /* color: #4B6777 !important; */
}

.break {
  height: 4rem;
}



.portimg{
  filter:grayscale(100%);
  max-height: 100%;
  max-width: 100%;
}

.portimg:hover{
  transition: filter .5s ease;
  filter:grayscale(0%);
}

#me{
  filter: grayscale(30%);
}

.navlist{
  margin-right: 3%;
}

.navitem{
  font-size: 1.3rem;
}

.navstack{
  display: flex;
  flex-direction: column;
  transition: flex-direction 1s ease;
  /* background-color: #546e7a; */
}

.navstack#githublogo{
  background-color: rgba(0,0,0,0);
}

li.active{
  /* border-left: none !important; */
  /* border-right: solid 2px red !important; */
}

.input-field input:focus, .input-field textarea:focus {
  border-bottom: 1px solid #546e7a !important;
  box-shadow: 0 1px 0 0 #546e7a !important;
}

a:hover{
  text-decoration: underline;
  border-left:none !important;
}

button{
  background-color: #546e7a !important;
}


label{
  color: white !important;
}

#linkedinlogo{
  height: 70%;
  width: 70%;
  margin-top: 15%;
}

#githublogo{
  height: 70%;
  width: 70%;
  margin-top: 15%;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 18px;
  border-bottom: 2px solid white;
}

input, textarea{
  border-bottom: 1px solid white !important;
  color: white;
}

p{
  font-size: 1.5vw;
}

footer{
  color:white;
}

@media (max-width: 1100px) {
  .Container {
    flex-direction: column;
  }
}

@media (max-width: 950px){
  #aboutwrapper{
    flex-direction: column;
  }

  #me{
    display:none;
  }

  p{
    font-size: 2vw;
  }
}